<footer>
    <div class="msufooter">
        MSU uses DSpace software, copyright&nbsp;&copy;&nbsp;2002-2017&nbsp;
        Duraspace.  For library collections that are not accessible, we
        are committed to providing reasonable accommodations and timely access
        to users with disabilities. For assistance, please
        <a
            target="_blank"
            href="https://www.lib.montana.edu/accessibility/request-form.html">
    	    submit an accessibility request
        </a>
        for library material.
    </div>
</footer>
