// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

a {
    color: #003f7f;
    text-decoration: none;
    background-color: #0000;
}

.btn-link {
    font-weight: 400;
    color: #003f7f;
    text-decoration: none;
}

.facet-filter, .setting-option {
  background-color: var(--bs-light);
  border-radius: var(--bs-border-radius);

  &.p-3 {
    // Needs !important because the original bootstrap class uses it
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .badge-secondary {
    background-color: var(--bs-primary);
  }

  h4 {
    font-size: 1.1rem
  }
}
