<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Scholarworks</h1>
          <p class="lead">
	    ScholarWorks is an open access repository for the capture of
	    the intellectual work of Montana State University (MSU) in
	    support of its teaching, research and service missions. MSU
	    ScholarWorks is a central point of discovery for accessing,
	    collecting, sharing, preserving, and distributing knowledge
	    to the Montana State University community and the world.
	  </p>
        </div>
      </div>
    </div>
  </div>
  <picture class="background-image">
	  <!--
    <source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">
	  -->
    <img alt="" [src]="'assets/dspace/images/parc-000190.web.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <!--
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>
  -->
</div>
